@import url("index.css");
@import url("trainerSignup.css");
@import url("search.css");

html,

body{

}

/* commonly used styles */

.white-text-color{
  color: white !important;
}

.red-button-color{
  background-color: #D32F2F;
}

.red-text-color{
    color: #D32F2F !important;
}

#text-decoration-none{
    text-decoration: none;
    color: #D32F2F;

}
