@import url("index.css");
@import url("trainerSignup.css");
@import url("search.css");
@import url("trainerBio.css");
@import url("bookingInfo.css");
@import url("paymentInfo.css");


html,

body{

}

/* commonly used styles */

.white-text-color{
  color: white !important;
}

.red-button-color{
  background-color: #D32F2F;
}

.red-text-color{
    color: #D32F2F !important;
}

.black-text-color{
    color: black;
}

#text-decoration-none{
    text-decoration: none;
    color: #D32F2F;

}

.search-container
{
background-color: black;
height: 30rem !important;
display: flex;
flex-direction: column;
justify-content: center;
}
