html,
body{

}

/* Profile Header styles */

#profile-header{
background-color: white;
height: 35rem !important;


}

#row-height{
    height: 27rem !important;
  }

.size{
    height:20rem;
}

/* Profile Picture styles */

.bio-profile-picture {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
width: 4rem;
}

#profile-picture{
    height: 15rem;
    width: 15rem;
}


/* Bio Body styles */

#bio-body-height{
    height: 50rem;
}

.image-prop{
    width: 4rem;
    height:4rem;
}


/* Bio Booking box styles */

#booking-box-settings{
    height: 25rem;
  
}

#sticky{
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}
